In [1]:
li = [1,2,'vijay',3.14]
li

[1, 2, 'vijay', 3.14]

In [2]:
li[1]

2

In [3]:
li[3]

3.14

In [4]:
li[0]

1

In [5]:
li.append("ajay")

In [6]:
li

[1, 2, 'vijay', 3.14, 'ajay']

In [7]:
li.insert(3,"kiran")

In [8]:
li

[1, 2, 'vijay', 'kiran', 3.14, 'ajay']

In [9]:
li.extend([2,3,5,39])

In [10]:
li

[1, 2, 'vijay', 'kiran', 3.14, 'ajay', 2, 3, 5, 39]

In [11]:
li.remove(2)

In [12]:
li

[1, 'vijay', 'kiran', 3.14, 'ajay', 2, 3, 5, 39]

In [13]:
li.remove(34234)

ValueError: list.remove(x): x not in list

In [14]:
li.pop()

39

In [15]:
li.pop()

5

In [16]:
li

[1, 'vijay', 'kiran', 3.14, 'ajay', 2, 3]

In [17]:
li.pop(19)

IndexError: pop index out of range

  #### Slicing

#### Loops in the List

In [18]:
li

[1, 'vijay', 'kiran', 3.14, 'ajay', 2, 3]

In [19]:
for i in range(len(li)):
    print(li[i])

1
vijay
kiran
3.14
ajay
2
3

In [20]:
for i in range(2,len(li)):
    print(li[i])

kiran
3.14
ajay
2
3

In [22]:
for ele in li:
    print(ele)

1
vijay
kiran
3.14
ajay
2
3

In [23]:
for ele in li[2:]:
    print(ele)

kiran
3.14
ajay
2
3

In [24]:
for ele in li[2:4]:
    print(ele)

kiran
3.14

#### Negative Indexing in List

In [25]:
li

[1, 'vijay', 'kiran', 3.14, 'ajay', 2, 3]

In [26]:
li[-1]

3

In [27]:
li[-2]

2

In [28]:
li[-3]

'ajay'

In [29]:
li[-4]

3.14

In [30]:
li[-5]

'kiran'

In [31]:
li[-6]

'vijay'

In [32]:
li[-7]

1

In [33]:
li[-8]

IndexError: list index out of range

#### Sequencing in the List

In [34]:
li

[1, 'vijay', 'kiran', 3.14, 'ajay', 2, 3]

In [35]:
li[1:5:2]

['vijay', 3.14]

In [36]:
li[-1:]

[3]

In [37]:
li[-3:-2]

['ajay']

In [38]:
li[-3:-1]

['ajay', 2]

#### Taking Input to the List

In [40]:
#Line seperated inputs:
print("enter the value of n:")
n = int(input())

li = []
for i in range(n):
    curr = int(input())
    li.append(curr)

enter the value of n:
5
1
2
3
4
5

In [41]:
li

[1, 2, 3, 4, 5]

In [42]:
for i in li:
    print(i)

1
2
3
4
5

In [43]:
# Sapce Seperated inputs:
li = []

In [44]:
str = input()

1 2 3 4 5

In [45]:
str_split = str.split()

In [46]:
str_split

['1', '2', '3', '4', '5']

In [47]:
for ele in str_split:
    li.append(int(ele))

In [48]:
li

[1, 2, 3, 4, 5]

In [49]:
li= [int(x) for x in input().split()]

1 2 3 4 5

In [50]:
li

[1, 2, 3, 4, 5]

In [51]:
for ele in li:
    print(ele)

1
2
3
4
5

In [54]:
n = int(input("enter the value of n: "))
li = [int(x) for x in input().split()]

enter the value of n: 5
2 3 4 5 6

In [55]:
li

[2, 3, 4, 5, 6]

#### Linear Search

In [56]:
li

[2, 3, 4, 5, 6]

In [57]:
print(8 in li)

False

In [60]:
li = [int(x) for x in input().split()]

2 4 7 9 10 13

In [61]:
li

[2, 4, 7, 9, 10, 13]

In [62]:
ele  = int(input())

7

In [63]:
for i in range(len(li)):
    if li[i] == ele:
        print(i)
        break
        
else:
    print("Not found")

2

In [67]:
ele = int(input())

for i in range(len(li)):
    if li[i] == ele:
        print(i)
        break
        
else:
    print("Not found")

12
Not found

In [68]:
def Linear_Search(li,ele):
    for i in range(len(li)):
        if li[i] == ele:
            return i
        
    return -1

print(li)
print(Linear_Search(li,7))
print(Linear_Search(li,12))

[2, 4, 7, 9, 10, 13]
2
-1

#### Mutabel and Immutable Concept

In [71]:
a = 3
b = 3

In [72]:
id(a)

140712765372256

In [73]:
id(b)

140712765372256

In [74]:
li1 = [1,2,3,4,5]
li2 = [1,2,3,4,5]

In [75]:
id(li1)

3175953079808

In [76]:
id(li2)

3175952123008

In [78]:
li3 = li1

In [79]:
id(li3)==id(li1)

True

#### Passing List Through Funtions

In [81]:
def increment(li):
    li[0] = li[0] + 2
    return

li = [1,2,3,4]
increment(li)
li

[3, 2, 3, 4]

In [85]:
def increment(li):
    li = [3,4,5]
    return li

li = [1,2,3,4]
increment(li)
print(li)

[1, 2, 3, 4]

In [84]:
def increment(li):
    li = [3,4,5]
    return li

li = [1,2,3,4]
print(li)
li = increment(li)
print(li)

[1, 2, 3, 4]
[3, 4, 5]

#### Reversing Lists

In [88]:
def reverse_l(li):
    length = len(li)
    for i in range(length//2):
        li[i],li[length-1-i] = li[length-1-i],li[i]
        
    return

li = [1,2,3,4,5,6]
print(li)
reverse_l(li)
print(li)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [89]:
def reverse_li(li):
    length = len(li)
    for i in range(length//2):
        li[i],li[-1-i] = li[-1-i],li[i]
        
    return    

li = [1,2,3,4,5,6]
print(li)
reverse_li(li)
print(li)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [90]:
li

[6, 5, 4, 3, 2, 1]

In [91]:
li[3:1:-1]

[3, 4]

In [92]:
li[:1:-1]

[1, 2, 3, 4]

In [93]:
li[3::-1]

[3, 4, 5, 6]

In [94]:
li[::-1]

[1, 2, 3, 4, 5, 6]

In [95]:
li

[6, 5, 4, 3, 2, 1]

In [96]:
li[:]

[6, 5, 4, 3, 2, 1]

In [97]:
li[::]

[6, 5, 4, 3, 2, 1]

In [112]:
def Linear_Search(li,ele,s,e):
    while s <= e :
        mid = e+s//2
        if ele==li[mid]:
            return mid
        
        elif li[mid] > ele:
            e = mid-1
            
        else:
            s = mid+1
            
    else:
        return -1
    
    
li = [2,4,6,8,10,13,15,17]            
Linear_Search(li,8,0,len(li)-1)

3