In [1]:
a = (1,2,3)
b = 4,5
#for loops
for i in a:
    print(i)

1
2
3

In [2]:
1 in a

True

In [3]:
1 in b

False

In [4]:
len(a)

3

In [5]:
c = a + b

In [7]:
c

(1, 2, 3, 4, 5)

In [8]:
d = (a,b)

In [9]:
d

((1, 2, 3), (4, 5))

In [10]:
e = a*4
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [11]:
max(a)

3

In [12]:
a2 = (1,2,3,"asdf","dfasdf")

In [13]:
max(a)

3

In [14]:
max(a2)

TypeError: '>' not supported between instances of 'str' and 'int'

In [15]:
a3 = (1,2,3,(1,2,3))
max(a3)

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [16]:
a3 = (2,3,2.2)
min(a3)

2

In [17]:
l = [1,2,3,4]
t = tuple(l)

In [18]:
t

(1, 2, 3, 4)

#### Variable Length Input and Output

In [19]:
def sum(a,b,*more):
    print(a)
    print(b)
    print(type(more))
    ans = a + b
    for i in more:
        ans += i
    return ans

In [20]:
sum(2,3,4,5)

2
3
<class 'tuple'>

14

In [55]:
def sum_diff(a,b):
    return a+b,a-b

In [56]:
sum_diff(4,1)

(5, 3)

In [57]:
d,e = sum_diff(4,1)

In [58]:
d

5

In [59]:
e

3

#### Dictionary

In [144]:
a  = {"the":1,"a":4,1000:"abc"}

In [145]:
type(a)

dict

In [146]:
print(a)

{'the': 1, 'a': 4, 1000: 'abc'}

In [147]:
b = a.copy()

In [148]:
b

{'the': 1, 'a': 4, 1000: 'abc'}

In [149]:
id(a)

2846950898816

In [150]:
id(b)

2846950897344

In [151]:
c  = dict([("the",3),("a",3),(2,3)])

In [152]:
c

{'the': 3, 'a': 3, 2: 3}

In [153]:
d = dict.fromkeys(["abc",32,4])

In [154]:
d

{'abc': None, 32: None, 4: None}

In [155]:
d = dict.fromkeys(["abc",32,4],10)

In [156]:
d

{'abc': 10, 32: 10, 4: 10}

In [157]:
a = {1:2,3:4,"list":[1,23],"dict":{1,2}}

In [158]:
a

{1: 2, 3: 4, 'list': [1, 23], 'dict': {1, 2}}

In [159]:
a['list']

[1, 23]

In [160]:
a.get('list')

[1, 23]

In [161]:
print(a.get('li'))

None

In [162]:
a.get('li',0)

0

In [163]:
a.keys()

dict_keys([1, 3, 'list', 'dict'])

In [164]:
a.values()

dict_values([2, 4, [1, 23], {1, 2}])

In [165]:
a.items()

dict_items([(1, 2), (3, 4), ('list', [1, 23]), ('dict', {1, 2})])

In [166]:
for i in a:
    print(i)

1
3
list
dict

In [167]:
for i in a:
    print(i,a[i])

1 2
3 4
list [1, 23]
dict {1, 2}

In [168]:
for i in a.values():
    print(i)

2
4
[1, 23]
{1, 2}

In [169]:
for i in a.items():
    print(i)

(1, 2)
(3, 4)
('list', [1, 23])
('dict', {1, 2})

In [170]:
'list' in a

True

In [171]:
'dict' in a

True

In [172]:
'li' in a

False

In [173]:
1 in a

True

In [174]:
2 in a

False

In [175]:
3 in a

True

In [176]:
a['t'] = (1,2,3)

In [177]:
a

{1: 2, 3: 4, 'list': [1, 23], 'dict': {1, 2}, 't': (1, 2, 3)}

In [178]:
a[1] = 10

In [179]:
a

{1: 10, 3: 4, 'list': [1, 23], 'dict': {1, 2}, 't': (1, 2, 3)}

In [180]:
b = {3:5,'the':4,2:100}

In [181]:
a.update(b)

In [182]:
a

{1: 10,
 3: 5,
 'list': [1, 23],
 'dict': {1, 2},
 't': (1, 2, 3),
 'the': 4,
 2: 100}

In [183]:
a

{1: 10,
 3: 5,
 'list': [1, 23],
 'dict': {1, 2},
 't': (1, 2, 3),
 'the': 4,
 2: 100}

In [187]:
a.pop('t')

KeyError: 't'

In [188]:
a

{3: 5, 'list': [1, 23], 'dict': {1, 2}, 'the': 4, 2: 100}

In [189]:
del a[1]

KeyError: 1

In [190]:
a

{3: 5, 'list': [1, 23], 'dict': {1, 2}, 'the': 4, 2: 100}

In [191]:
type(a.pop(2))

int

In [192]:
ans = a.pop(3)

In [193]:
ans

5

#### Print all the Wrods with freq K

In [194]:
a = "this is a word string having many many word"
k = 2

In [197]:
words = a.split()

In [198]:
words

['this', 'is', 'a', 'word', 'string', 'having', 'many', 'many', 'word']

In [200]:
d = {}
for w in words:
    if w in d:
        d[w] = d[w] + 1
    else:
        d[w] = 1
        
d

{'this': 1, 'is': 1, 'a': 1, 'word': 2, 'string': 1, 'having': 1, 'many': 2}

In [201]:
d = {}
for w in words:
    d[w] = d.get(w,0) + 1
    
d

{'this': 1, 'is': 1, 'a': 1, 'word': 2, 'string': 1, 'having': 1, 'many': 2}

In [202]:
for w in d:
    if d[w] == k:
        print(w)

word
many

In [203]:
def printFreqWords(s,k):
    words = s.split()
    d = {}
    for w in words:
        d[w] = d.get(w,0) + 1
        
    for w in d:
        if d[w] == k:
            print(w)

In [204]:
s = "this is string of many many words words"
printFreqWords(s,2)

many
words

#### Sets

In [205]:
a = {"apple","abc",23}

In [206]:
a

{23, 'abc', 'apple'}

In [207]:
a[0]

TypeError: 'set' object is not subscriptable

In [208]:
a["abc"]

TypeError: 'set' object is not subscriptable

In [209]:
'abc' in a

True

In [212]:
21 in a

False

In [213]:
for v in a:
    print(v)

abc
apple
23

In [214]:
len(a)

3

In [215]:
a.add("temp")

In [216]:
a

{23, 'abc', 'apple', 'temp'}

In [217]:
b = {'abc','ghi'}

In [218]:
a.update(b)

In [219]:
a

{23, 'abc', 'apple', 'ghi', 'temp'}

In [220]:
a.remove('temp')

In [221]:
a

{23, 'abc', 'apple', 'ghi'}

In [222]:
a.remove('rrr')

KeyError: 'rrr'

In [223]:
a.discard(23)

In [224]:
a

{'abc', 'apple', 'ghi'}

In [225]:
a.discard('rrr')

In [226]:
a

{'abc', 'apple', 'ghi'}

In [227]:
a.pop()

'abc'

In [228]:
a

{'apple', 'ghi'}

In [229]:
a

{'apple', 'ghi'}

 ##### Intersection,union and difference

In [237]:
a = {1,2,3,4,5,6}
b = {5,6}

In [238]:
a.intersection(b)

{5, 6}

In [239]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [240]:
a.difference(b)

{1, 2, 3, 4}

In [241]:
b.difference(a)

set()

In [242]:
a

{1, 2, 3, 4, 5, 6}

In [243]:
b

{5, 6}

In [244]:
a.symmetric_difference(b)

{1, 2, 3, 4}

In [256]:
a.intersection_update(b)

In [259]:
a.symmetric_difference_update(b)
a

set()

In [246]:
a

{5, 6}

In [247]:
a

{5, 6}

In [248]:
b

{5, 6}

In [249]:
a = {1,2,3,4,5,6}
b = {5,6}

In [250]:
a | b

{1, 2, 3, 4, 5, 6}

In [251]:
a & b

{5, 6}

In [252]:
a - b

{1, 2, 3, 4}

In [253]:
a

{1, 2, 3, 4, 5, 6}

In [254]:
b

{5, 6}

In [260]:
a.union_update(b)

AttributeError: 'set' object has no attribute 'union_update'

In [263]:
a = {1,2,3,4}
b = {3,4,5,6}
c = {3,4}

In [264]:
a.issubset(b)

False

In [265]:
b.issubset(a)

False

In [266]:
c.issubset(a)

True

In [267]:
c.issubset(b)

True

In [268]:
d = {7,8}

In [269]:
a.isdisjoint(d)

True

In [273]:
li = [1,2,3,4,1,2,3,2,3,4,]

In [274]:
s = set(li)

In [275]:
s

{1, 2, 3, 4}

In [277]:
del sum

In [278]:
s

{1, 2, 3, 4}

In [279]:
sum(s)

10